.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}
header h1 {
  text-align: center;
}
.content {
  flex: 1;
  padding: 10px;
}
footer {
  text-align: center;
  padding: 20px;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.2);
}
.answer {
  margin-top: 5px;
}
